body, html{
    --color-primary: #254C71;
    --color-primary-light: #029A9E;
    --color-primary-secondary: #FBE5D6;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-primary-logoTitle: black;
    --color-input: #D9D9D9;
    --color-post-display:#e1dcdc;
    --border-radius:4px;
    
    font-size:18px;
    font-family: 'Poppins', sans-serif; 
    margin:0;
    display: flex;

    /* website to auto-fit in the page */
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#main {
    height: 100%;
    width: 100%;
}

.py-5, .display-5, .lead {
    font-family: 'Poppins', sans-serif; 
}